/* ==========================================================================
   Font Awesome
   ========================================================================== */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  font-weight: normal;
  font-style: normal;
}