.header {
  padding: 18px 0;
  border-bottom: 6px solid $blue;

  background: $blue-dark;
  color: $white;
  -webkit-font-smoothing: antialiased;

  a {
    color: $blue-light;
  }
}

.logo {
  margin: 7px 0;
  float: left;

  a {
    display: block;
    width: 111px;
    height: 17px;

    background-image: embedurl('../img/thorax-logo-small.png');
    background-size: 111px;
    background-repeat: no-repeat;
  }
}

.nav {
  overflow: hidden;
  clear: both;
  max-height: 0;

  font-size: 0.875em;
  font-weight: 700;
  text-rendering: optimizeLegibility;

  transition: max-height ease 0.3s;

  ul {
    margin: 0;
    padding: 10px 0 0;
  }

  a {
    display: block;
    padding: 10px 0;
    border-top: 1px solid lighten($blue-dark, 10%);
  }

  &.expanded {
    height: auto;
    max-height: 130px
  }

  @media only screen and (min-width: 35em) {
    overflow: visible;
    clear: none;
    float: right;
    margin: 6px 0;
    max-height: none;

    ul {
      padding: 0;
    }

    li {
      float: left;
      margin-left: 1.5em;
    }

    a {
      display: inline;
      padding: 0;
      border: 0;
    }
  }
}

.nav-toggle {
  float: right;
  
  color: $blue-light;

  &:hover {
    color: $white;
  }

  @media only screen and (min-width: 35em) {
    display: none;
  }
}
