@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

  .logo a {
    background-image: embedurl('../img/thorax-logo.png');
    background-size: 111px;
  }

  .used-by-walmart {
    background-image: url('../img/walmart.png');
  }

  .used-by-asda {
    background-image: url('../img/asda.png');
  }

}