$icon {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

// Don't display icon font elements
// unless @font-face is supported
.fontface {
  .icon-play-circle:before {
    @extend $icon;

    content: "\f021";
  }

  .icon-book:before {
    @extend $icon;

    content: "\f022";
  }

  .icon-list:before {
    @extend $icon;

    content: "\f023";
  }

  .icon-reorder:before {
    @extend $icon;

    content: "\f024";
  }
}


.btn {
  .icon-play-circle:before,
  .icon-book:before,
  .icon-list:before,
  .icon-reoder:before {
    padding-right: 3px;

    font-size: 13px;
  }
}