.constrained {
  @extend .clearfix;

  width: 90%
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.row {
  @extend .clearfix;
}

.col {
  float: left;
  padding-left: 32px;

  &:first-child {
    padding-left: 0;
  }
}

.col1-4 {
  @extend .col;

  width: 25%;
}

.col1-3 {
  @extend .col;

  width: 33.33%;
}

.col2-3 {
  @extend .col;

  width: 66.66%;
}

.col1-2 {
  @extend .col;

  width: 50%;
}

.col3-4 {
  @extend .col;

  width: 75%;
}
